# Ignore node_modules
node_modules/

# Ignore Composer dependencies
vendor/

# Ignore environment variables
.env

# Ignore log files and databases
*.log
*.sql
*.sqlite

# Ignore MYSQL data 
mysql/data/